
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


h1, h2 {
    text-align: center;
    color: #444;
}

h2 {
    color: #666;
    margin-top: 20px;
}


nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #000000, #2196F3);
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #8e8e8e;
    transform: scale(1.1);
}

nav a:active {
    color: #FF4500;
}


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section ul {
    list-style-type: disc;
    margin: 10px 0 0 20px;
}

section p {
    margin: 10px 0;
}


a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  body {
    display: grid;
    place-items: center;
    height: auto;
    margin: 0;
  }