body {
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/survey-form_z1_eADwu_SB_PM.jpg');
   background-size: cover; 
   background-repeat: no-repeat; 
   background-position: center; 
   display: grid;
   place-items: center;
   height: 100vh;
   margin: 0;
 }
 
 h1#title {
   font-size: 2em;
   text-align: center;
   color: rgb(0, 99, 61);
   margin-bottom: 10px;
 }
 
 p#description {
   font-size: 1.2em;
   text-align: center;
   color: rgb(0, 124, 52);
   margin-bottom: 20px;
 }
 
 #survey-form {
   background-color: rgba(255, 255, 255, 0.9);
   width: 90%;
   max-width: 700px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
 }
 
 
 label {
   display: block;
   margin: 15px 0 5px;
   font-weight: bold;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="number"],
 select,
 textarea {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 1em;
 }
 
 input[type="radio"],
 input[type="checkbox"] {
   margin-right: 10px;
 }
 
 textarea {
   height: 80px;
   resize: vertical;
 }
 
 button#submit {
   width: 100%;
   padding: 10px;
   background-color: rgb(85, 149, 170);
   color: white;
   font-size: 1.1em;
   font-weight: bold;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 button#submit:hover {
   background-color: rgb(77, 172, 161);
 }
 
 nav {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #000000, #2196F3);
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #8e8e8e;
  transform: scale(1.1);
}

nav a:active {
  color: #FF4500;
}